{% extends "core/base.html" %}

{% block title %}{% if not category %}Published Books{% else %}
    {{ category.name }}{% endif %}{% endblock %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col m9">
                {% if not category %}
                    <h4>{{ book_settings.book_page_title }}</h4>
                {% else %}
                    {% if category.display_title %}
                        <h4>Category: {{ category.name }}</h4>
                    {% endif %}
                    {{ category.description|safe }}
                    <a href="{% url 'books_index' %}" class="button">< Back to
                        All</a>
                {% endif %}

                {% for book in books %}
                    <div class="box journal">
                        {% include "books/salisbury/book_detail.html" with book=book truncate=True %}
                    </div>
                    {% empty %}
                    <p>There are no published books to display.</p>
                {% endfor %}
            </div>
            <div class="col m3">
                <div class="card">
                    <div class="card-content">
                        <div class="input-group">
                            <form class="form-horizontal" method="GET">
                                {% csrf_token %}
                                <div class="form-group">

                                    <div class="input-field">
                                        <i class="material-icons prefix">search</i>
                                        <input id="icon_prefix" type="text"
                                               class="validate"
                                               {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}
                                               name="search">
                                        <label for="icon_prefix"
                                               class="">{% trans "Search Books" %}</label>
                                    </div>
                                    <p>
                                        <small>{% trans "You can search by:" %}</small>
                                    </p>
                                    <small>
                                        <ul>
                                            <li>{% trans "Title" %}</li>
                                            <li>{% trans "Description" %}</li>
                                        </ul>
                                    </small>
                                </div>
                                <input type="submit"
                                       style="visibility: hidden;"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock body %}