<nav class="header-overrides" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="http://wessexarchaeologylibrary.org"
           class="brand-logo">

            <img class="top-bar-image" src="/press/cover/"
                 alt="Wessex Archaeology Open Library">

        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>

            <li><a href="/site/about/" class="nav-link">About</a></li>

            <li><a href="/plugins/books/" class="nav-link">Books</a></li>


            <li><a href="/library/repository/list/"
                   class="nav-link">Reports</a></li>



        </ul>

        <ul class="sidenav" id="nav-mobile">
            <li><a href="/">Home</a></li>

            <li><a href="/site/about/" class="nav-link">About</a></li>

            <li><a href="/plugins/books/" class="nav-link">Books</a></li>


            <li>
                <a class="dropdown-trigger" href="#!"
                   data-target="preprints-mobile">
                    Repositories
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
                <ul id="preprints-mobile" class="dropdown-content"
                    tabindex="0">

                    <li tabindex="0"><a class="dropdown-item"
                                        href="http://wessexarchaeologylibrary.org/library">Project
                        Report Library</a></li>

                </ul>
            </li>


        </ul>
        <a href="#!" data-target="nav-mobile" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>