{% extends "core/base.html" %}
{% load truncate static i18n %}

{% block page_title %}{% trans "Home" %}{% endblock page_title %}
{% block title %}{{ press.name }}{% endblock title %}
{% block navbarbrand %}{{ press.name }}{% endblock navbarbrand %}

{% block meta %}
    <meta name="description" content="Access archaeological reports and research publications from Wessex Archaeology for free via our digital library." />
{% endblock %}

{% block body %}

    <h1 class="text-center">Welcome to Wessex Archaeology's Online Library</h1>

    <p class="text-center">
        This free digital library provides access to Wessex Archaeology’s research publications.
        From books to archaeological reports, we hope this rich resource inspires others to understand and appreciate the value of heritage and supports further research.
    </p>

    <div class="row">
        <div class="m4 col offset-m2">
            <div class="card">
                <div class="card-image">
                    <img src="https://wessexarchaeologylibrary.org/media/press/reports.png">
                </div>
                <div class="card-content text-center">
                    <p>
                        Explore our catalogue of fieldwork, geophysical, geoarchaeological, marine and post-excavation reports.
                    </p>
                    <a href="/library/repository/list/"
                       class="waves-effect waves-light btn"> Browse reports</a>
                </div>
            </div>
        </div>
        <div class="m4 col end">
            <div class="card">
                <div class="card-image">
                    <img src="https://wessexarchaeologylibrary.org/media/press/books.png">
                </div>
                <div class="card-content text-center">
                    <p>
                        Read our publications, with interpretation and analysis of our most significant archaeological projects.
                    </p>
                    <a href="/plugins/books/"
                       class="waves-effect waves-light btn">Browse books</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center">Featured books and reports</h2>
    <div class="row eq-height-row">
        <div class="col m6 eq-height-col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col m3">
                            <img class="responsive-img"
                                 src="https://wessexarchaeologylibrary.org/media/cover_images/6b293716-87fb-4faf-b863-e0f1a72efe7d.jpg">
                        </div>
                        <div class="col m9">
                            <h2 class="listing-title no-padding-top">
                                <a href="https://wessexarchaeologylibrary.org/plugins/books/5/">
                                    The Amesbury Archer and the Boscombe
                                    Bowmen:
                                    Bell Beaker burials at Boscombe Down,
                                    Amesbury,
                                    Wiltshire
                                </a>
                            </h2>
                            <p class="authors card-text">A. P. Fitzpatrick</p>
                            <p>[Book]</p>
                            <p><a href="https://wessexarchaeologylibrary.org/plugins/books/5/" class="waves-effect waves-light btn"> View</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col m6 eq-height-col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col m3">
                            <img class="responsive-img"
                                 src="https://wessexarchaeologylibrary.org/media/cover_images/9c547d41-6f03-43c4-9135-99dc4aade4ca.jpg">
                        </div>
                        <div class="col m9">
                            <h2 class="listing-title no-padding-top">
                                <a href="https://wessexarchaeologylibrary.org/plugins/books/4/">
                                    Cliffs End Farm Isle of Thanet, Kent: A
                                    mortuary and ritual site of the Bronze Age,
                                    Iron Age and Anglo-Saxon period
                                </a>
                            </h2>
                            <p class="authors card-text">Jacqueline I.
                                McKinley, Matt Leivers, Jorn Schuster, Peter
                                Marshall, Alistair J. Barclay & Nick
                                Stoodley</p>
                            <p>[Book]</p>
                            <p><a href="https://wessexarchaeologylibrary.org/plugins/books/4/" class="waves-effect waves-light btn"> View</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row eq-height-row">

        <div class="col m6 eq-height-col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col m3">
                            <img class="responsive-img"
                                 src="https://wessexarchaeologylibrary.org/media/cover_images/ea01f0e4-2a57-4a3d-9600-e4e59dd16e95.jpg">
                        </div>
                        <div class="col m9">
                            <h2 class="listing-title no-padding-top">
                                <a href="https://wessexarchaeologylibrary.org/plugins/books/68/">
                                    The Archaeology of the Hornsea Project One
                                    Offshore Windfarm Cable Route: Agriculture,
                                    Settlement, Moats and Saltworking in the
                                    Lincolnshire Marshes
                                </a>
                            </h2>
                            <p class="authors card-text">Ashley Tuck</p>
                            <p>[Book]</p>
                            <p><a href="https://wessexarchaeologylibrary.org/plugins/books/68/" class="waves-effect waves-light btn"> View</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col m6 eq-height-col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col m3">
                            <img class="responsive-img"
                                 src="https://wessexarchaeologylibrary.org/media/press/117.jpg">
                        </div>
                        <div class="col m9">
                            <h2 class="listing-title no-padding-top">
                                <a href="https://wessexarchaeologylibrary.org/library/repository/view/117/">
                                    Harnham Bunker, Old Blandford Road,
                                    Salisbury. Historic Building Record.
                                </a>
                            </h2>
                            <p class="authors card-text">Wessex Archaeology</p>
                            <p>[Report]</p>
                            <p><a href="https://wessexarchaeologylibrary.org/library/repository/view/117/" class="waves-effect waves-light btn"> View</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock body %}

{% block js %}
    <script src="{% static "common/js/material-eq-height.js" %}"></script>
{% endblock %}
