{% extends "core/base.html" %}
{% load truncate static i18n %}

{% block page_title %}{% trans "Home" %}{% endblock page_title %}
{% block title %}{{ press.name }}{% endblock title %}
{% block navbarbrand %}{{ press.name }}{% endblock navbarbrand %}

{% block body %}

    <h1 class="text-center">Welcome to Wessex Archaeology's Online Library</h1>

    <p class="text-center">
        I have reset the sensors to scan for frequencies outside the usual
        range.
        By emitting harmonic vibrations to shatter the lattices. We will
        monitor
        and adjust the frequency of the resonators. He has this ability of
        instantly interpreting and extrapolating any verbal communication he
        hears.
        It may be due to the envelope over the structure, causing
        hydrogen-carbon
        helix patterns throughout. I'm comparing the molecular integrity of
        that
        bubble against our phasers.
    </p>

    <div class="row">
        <div class="m3 col offset-m3">
            <div class="card">
                <div class="card-image">
                    <img src="https://wessexarchaeologylibrary.org/media/press/reports.png">
                </div>
                <div class="card-content text-center">
                    <p>
                        I have reset the sensors to scan for frequencies
                        outside the usual
                        range.
                        By emitting harmonic vibrations to shatter the
                        lattices. We will
                        monitor
                    </p>
                    <a href="/library/repository/list/"
                       class="waves-effect waves-light btn"> Browse reports</a>
                </div>
            </div>
        </div>
        <div class="m3 col end">
            <div class="card">
                <div class="card-image">
                    <img src="https://wessexarchaeologylibrary.org/media/press/books.png">
                </div>
                <div class="card-content text-center">
                    <p>
                        I have reset the sensors to scan for frequencies
                        outside the usual
                        range.
                        By emitting harmonic vibrations to shatter the
                        lattices. We will
                        monitor
                    </p>
                    <a href="/plugins/books/"
                       class="waves-effect waves-light btn">Browse books</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center">Latest Books and Reports</h2>
    <div class="row eq-height-row">
        <div class="col m6 eq-height-col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col m3">
                            <img class="responsive-img"
                                 src="https://wessexarchaeologylibrary.org/media/cover_images/6b293716-87fb-4faf-b863-e0f1a72efe7d.jpg">
                        </div>
                        <div class="col m9">
                            <h2 class="listing-title no-padding-top">
                                <a href="https://wessexarchaeologylibrary.org/plugins/books/5/">
                                    The Amesbury Archer and the Boscombe
                                    Bowmen:
                                    Bell Beaker burials at Boscombe Down,
                                    Amesbury,
                                    Wiltshire
                                </a>
                            </h2>
                            <p class="authors card-text">A. P. Fitzpatrick</p>
                            <p>[Book]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col m6 eq-height-col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col m3">
                            <img class="responsive-img"
                                 src="https://wessexarchaeologylibrary.org/media/cover_images/9c547d41-6f03-43c4-9135-99dc4aade4ca.jpg">
                        </div>
                        <div class="col m9">
                            <h2 class="listing-title no-padding-top">
                                <a href="https://wessexarchaeologylibrary.org/plugins/books/4/">
                                    Cliffs End Farm Isle of Thanet, Kent: A
                                    mortuary and ritual site of the Bronze Age,
                                    Iron Age and Anglo-Saxon period
                                </a>
                            </h2>
                            <p class="authors card-text">Jacqueline I.
                                McKinley, Matt Leivers, Jorn Schuster, Peter
                                Marshall, Alistair J. Barclay & Nick
                                Stoodley</p>
                            <p>[Book]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block js %}
    <script src="{% static "common/js/material-eq-height.js" %}"></script>
{% endblock %}
